go 1.18

use (
	./blackjack/v1
	./chooseAdventure/v1
	./chooseAdventure/v2
	./chooseAdventure/v3
	./chooseAdventure/v4
	./hangman/v1
	./quizGame/v1
	./quizGame/v2
	./quizGame/v3
	./rockPaperScissors/v1
	./trivia/v1
	./urlShortener/v1
	./urlShortener/v2
)
